.postSection{
    border-bottom: 3px solid #E2E5E8;
    padding: 1vh 0 1vh 0;
}
.content{
    position: relative;
    width: 100%;
}
h1{
    color: black;
    font-size: 2vh;
    margin: 0;
}
.image{
    width: 100%;
}
.text{
    padding: 0 0 0 2%;
    display: grid;
}
.banner{
    display: grid;
}